[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_3232323236196314-if00
restart_method: command
##--------------------------------------------------------------------

[temperature_sensor NH36]
sensor_type: temperature_mcu
sensor_mcu: nhk
min_temp: 0
max_temp: 100

#####################################################################
#   Extruder
#####################################################################
[extruder]
step_pin: nhk:gpio23
dir_pin: !nhk:gpio24
enable_pin: !nhk:gpio25
microsteps: 16
rotation_distance: 35.2												#Be sure to calibrate
gear_ratio: 44:8, 25:17
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nhk:gpio9
sensor_type: Generic 3950
sensor_pin: nhk:gpio29
pullup_resistor: 2200
control = pid
pid_kp = 24.777
pid_ki = 1.966
pid_kd = 78.054
min_temp: 0
max_temp: 315
min_extrude_temp: 170
max_extrude_only_distance: 1000                                     
max_extrude_cross_section: 30                                       
pressure_advance: 0.052                                             #Be sure to calibrate
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.45                        #.45 minimum offers 12N of force. DO NOT EXCEED .55A as it will cause excess heat.

#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: nhk:gpio6
kick_start_time: .3
off_below: 0.1


## HEF
[heater_fan hotend_fan]
pin: nhk:gpio5
tachometer_pin: nhk:gpio16
tachometer_ppr: 2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1
tachometer_poll_interval: 0.0005
#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: nhk:gpio27
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0
##--------------------------------------------------------------------
## Uncomment below for 250mm build
#probe_points:
#    125, 125, 20

## Uncomment below for 300mm build
#probe_points:
#    155, 155, 20

## Uncomment below for 350mm build
probe_points:
    175, 175, 20
